@model ScheduleHelper.Models.DbModels.Student

@{
    ViewData["Title"] = "Детали";
}

<div>
    <h4>@Model.Name</h4>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <br/>
        <a asp-controller="Payments" asp-action="Create" asp-route-s="@Model.Id">Оплатить</a>
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Телефон
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Комментарий
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>