@model ScheduleHelper.Models.DbModels.Student

@{
    ViewData["Title"] = "Детали";
}

<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default" style="margin-top:10px">Редактировать</a>
    <br />
    <a asp-controller="Payments" asp-action="Create" asp-route-s="@Model.Id" class="btn btn-default" style="margin-top:10px">Оплатить</a>
</div>

<hr />

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Контакты:</dt>
        <dd>
            Телефон:
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dd>
            Email:
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Комментарий
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>