@model IEnumerable<ScheduleHelper.Models.DbModels.Student>

@{
    ViewData["Title"] = "Студенты";
}

<h2>Студенты</h2>

<div>
    @using (Html.BeginForm())
    {
        <p>
            <br />
            <a asp-action="Create" style="float:right; margin-left: 8px;" class="btn btn-default">Добавить</a>

            @*@Html.TextBox("SearchString")
            <input type="submit" value=" " />
            <a asp-route="" style="float:right" class="btn btn-default">Посещаемость</a>*@
            <br />
            <br />
        </p>
    }
</div>

<ul class="cards">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id">
            <li class="cards__item">
                <div class="card">
                    <div class="card__content">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="card__btn--dlt-black">×</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="card__content">
                            <div class="card__title">@Html.DisplayFor(modelItem => item.Name)</div>
                            <div class="card__comment">@Html.DisplayFor(modelItem => item.Comment)</div>
                            <p class="card__text">
                                <div>@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
                                <div>@Html.DisplayFor(modelItem => item.Email)</div>
                            </p>
                        </a>
                    </div>
                </div>
            </li>
        </a>
    }
</ul>



@*<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Телефон
            </th>
            <th>
                Email
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Кол-во платежей
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payments.Count)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="card__btn--dlt" style="position:initial; color:black; display:initial; border:none; font-size:2rem">×</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@