@model IEnumerable<ScheduleHelper.Models.DbModels.StudentScheduleItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Записать студента</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Создать новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Элемент расписания
            </th>
            <th>
                Студент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleItem.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>