@model ScheduleHelper.Models.DbModels.History

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Время:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            Комментарий:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            Занятие:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleItem.Title)
        </dd>
        <dt>
            Студент:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Назад</a>
    </form>
</div>