@model ScheduleHelper.Models.DbModels.Payment

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить эту оплату?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Сумма:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pay)
        </dd>
        <dt>
            Количество занятий:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Refund)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Refund)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefundPay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefundPay)
        </dd>*@
        <dt>
            Занятие:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleItem.Title)
        </dd>
        <dt>
            Студент:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Назад</a>
    </form>
</div>