@model IEnumerable<ScheduleHelper.Models.DbModels.Payment>

@{
    ViewData["Title"] = "Index";
}

<h2>История оплат</h2>

@using (Html.BeginForm())
{
    <p>
        <br />
        <a asp-action="Create" style="float:right" class="btn btn-default">Добавить</a>
        @Html.TextBox("SearchString")
        <input type="submit" value=" " />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Сумма
            </th>
            <th>
                Количество занятий
            </th>
            <th>
                Возврат?
            </th>
            <th>
                Сумма возврата
            </th>
            <th>
                Занятие
            </th>
            <th>
                Студент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Refund)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefundPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleItem.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>