@model ScheduleHelper.Models.DbModels.ScheduleItem

@{
    ViewData["Title"] = "Детали";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Начало повторения:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.StartDate.Day).@Html.DisplayFor(modelItem => Model.StartDate.Month).@Html.DisplayFor(modelItem => Model.StartDate.Year)
        </dd>
        <dt>
            Конец повторения:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.EndDate.Day).@Html.DisplayFor(modelItem => Model.EndDate.Month).@Html.DisplayFor(modelItem => Model.EndDate.Year)
        </dd>
        <dt>
            День недели:
        </dt>
        <dd>
            @{
                switch (Model.DayOfWeek)
                {
                    case 0:
                        <text>Пн</text>
                        break;
                    case 1:
                        <text>Вт</text>
                        break;
                    case 2:
                        <text>Ср</text>
                        break;
                    case 3:
                        <text>Чт</text>
                        break;
                    case 4:
                        <text>Пт</text>
                        break;
                    case 5:
                        <text>Сб</text>
                        break;
                    case 6:
                        <text>Вс</text>
                        break;
                    default:
                        <text>Ошибка</text>
                        break;
                }
            }
        </dd>
        <dt>
            Преподаватель:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
        <dt>
            Тип:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Время:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            Длительность:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            Группа:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>
        <dt>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.Description)
        </dd>
        <dt>
            Место проведения:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place.Type)
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Редактировать</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удалить</a> |
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>