@model ScheduleHelper.Models.ViewModels.ScheduleViewModel

@{
    ViewData["Title"] = "Расписание";
    DateTime? filter = null;
}

<div id="shedule_body">
    
            <div class="head_sh">
                <table class="legend_sh">
                    <tr>
                        <td id="leg">
                            <div class="leg_in">
                                <div class="circl_leg yellow"> </div>
                                <text>- групповое занятие</text>
                            </div>
                        </td>
                        <td id="leg">
                            <div class="leg_in">
                                <div class="circl_leg red"> </div>
                                <text>- преподавательское</text>
                            </div>
                        </td>
                        <td id="leg">
                            <div class="leg_in">
                                <div class="circl_leg green"> </div>
                                <text>- онлайн</text>
                            </div>
                        </td>
                        <td id="op_leg">
                            
                                <label class="control-label">Выберите дату для фильтрации:</label>
                                <input asp-for="@filter" type="date" class="form-control" style="width: 150px; display: inline-block;" />
                                <a asp-action="Index" asp-route-start="@filter" class="btn btn-default" style="display: inline-block;">Фильтровать</a>
                                <a asp-action="Create" class="btn btn-default">Добавить</a>
                            
                        </td>
                        </tr>
                    <tr>
                        <td id="leg">
                            <div class="leg_in">
                                <div class="circl_leg blue"> </div>
                                <text>- индивидуальное занятие</text>
                            </div>
                        </td>
                       
                        
                        <td id="leg">
                            <div class="leg_in">
                                <div class="circl_leg violet"> </div>
                                <text>- открытое мероприяте</text>
                            </div>
                        </td>
                    </tr>
                </table>
                
            </div>
  
    <table class="table">
        <thead>
            <tr>
                <th id="time_td">Время</th>
                <th id="th_shedule">Пн</th>
                <th id="th_shedule">Вт</th>
                <th id="th_shedule">Ср</th>
                <th id="th_shedule">Чт</th>
                <th id="th_shedule">Пт</th>
                <th id="th_shedule">Сб</th>
                <th id="th_shedule">Вс</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="sh_td_time">
                    @for (int i = 0; i < 18; i++)
                    {
                        <p id="time">@(6 + i):00</p>
                    }
                    <p id="time">00:00</p>
                </td>
                @foreach (var day in Model.Days)
                {
                    <td>
                        @foreach (var time in day.Times)
                        {
                            @foreach (var item in time.Items)
                            {
                                <div class="shedule-obj">
                                    <div class="hidden time">@Html.DisplayFor(modelItem => item.StartTime)</div>
                                    <div class="hidden dur">@Html.DisplayFor(modelItem => item.Duration)</div>
                                    <div class="hidden type">@Html.DisplayFor(modelItem => item.Type)</div>
                                    <div class="timeDur">@Html.DisplayFor(modelItem => item.StartTime) (@Html.DisplayFor(modelItem => item.Duration) минут)</div>
                                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-cw="@Model.CurrentWeek">
                                        <div class="name">@Html.DisplayFor(modelItem => item.Title) (@Html.DisplayFor(modelItem => item.Language.Name))</div>
                                    </a>
                                    <div class="place" style="overflow:hidden; display: -webkit-flex; display: flex; justify-content: space-between;">
                                        <div style="display: inline-block; white-space: nowrap; max-width: 70%; text-overflow: ellipsis; overflow: hidden;">@Html.DisplayFor(modelItem => item.Teacher.Name)</div>
                                        <div style="display: inline-block; white-space: nowrap;">@Html.DisplayFor(modelItem => item.Place.Type)</div>
                                    </div>
                                </div>
                            }

                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

@*@foreach (var day in Model.Days)
{
    <h2>@Html.DisplayFor(model => day.DayName)</h2>
    @if (day.Times.Count == 0)
    {
        <h3>Нет занятий</h3>
    }
    else
    {
        @foreach (var time in day.Times)
        {
            <h2>@Html.DisplayFor(modelItem => time.StartTime)</h2>

            <table class="table">
                <tbody>
                    @foreach (var scheduleItem in time.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Title)
                            </td>
                            <td>
                                @if (scheduleItem.Duration == 60)
                                {
                                    @Html.Display("1 час")
                                }
                                else
                                {
                                    @Html.Display("1,5 часа")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Language.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Place.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Teacher.Name)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@scheduleItem.Id" asp-route-cw="@Model.CurrentWeek">Детали</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}*@