@model ScheduleHelper.Models.ViewModels.ScheduleViewModel

@{
    ViewData["Title"] = "Расписание";
    DateTime? filter = null;
}

<p>
    <br/>
    <a asp-action="Create">Добавить</a>

    <div class="form-group">
        <label class="control-label">Выберите дату для фильтрации:</label>
        <input asp-for="@filter" type="date" class="form-control" />
        <a asp-action="Index" asp-route-start="@filter">Фильтровать</a>
    </div>
</p>


@foreach(var day in Model.Days)
{
    <h2>@Html.DisplayFor(model => day.DayName)</h2>
    @if (day.Times.Count == 0)
    {
        <h3>Нет занятий</h3>
    }
    else
    {
        @foreach (var time in day.Times)
        {
            <h2>@Html.DisplayFor(modelItem => time.StartTime)</h2>

            <table class="table">
                <tbody>
                    @foreach (var scheduleItem in time.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Title)
                            </td>
                            <td>
                                @if(scheduleItem.Duration == 60)
                                {
                                    @Html.Display("1 час")
                                }
                                else
                                {
                                    @Html.Display("1,5 часа")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Language.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Place.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => scheduleItem.Teacher.Name)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@scheduleItem.Id" asp-route-cw="@Model.CurrentWeek">Детали</a>                       
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}