@model IEnumerable<ScheduleHelper.Models.DbModels.Teacher>

@{
    ViewData["Title"] = "Преподаватели";
}
<p>
    <br />
    <h2>Преподаватели</h2>
    <a asp-action="Create" style="float:left" class="btn btn-default">Добавить</a>
    <br />
    <br />
</p>

<ul class="cards">
    @foreach (var item in Model)
    {

        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--person"></div>
                <div class="card__content">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="card__btn--dlt">×</a>
                    <div class="card__title">@Html.DisplayFor(modelItem => item.Name)</div>
                    <div class="card__comment">@Html.DisplayFor(modelItem => item.Comment)</div>
                    <p class="card__text">
                        <div>@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
                        <div>@Html.DisplayFor(modelItem => item.Email)</div>
                    </p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn--block card__btn">Подробности</a>
                </div>
            </div>
        </li>
        <!--<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>-->
    }
</ul>