@model IEnumerable<ScheduleHelper.Models.DbModels.Place>

@{
    ViewData["Title"] = "Index";
}

<h2>Места проведения</h2>

@using (Html.BeginForm())
{
    <p>
        <br />
        <a asp-action="Create" style="float:right" class="btn btn-default">Добавить</a>
        @Html.TextBox("SearchString")
        <input type="submit" value=" " />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Тип
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>